
<body class="resized-right">
	<header>
		<div class="logo">
			<a href="#">Is This RWD?</a>
		</div>
		<nav>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">News</a>
				</li>
				<li>
					<a href="#">Store</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="jumbotron">
			<div class="jumbotron__block"></div>
			<div class="jumbotron__block"></div>
			<div class="jumbotron__block"></div>
		</div>
		<div class="grid">
			<div class="grid__cell-half">
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--small img--left" width="90" height="90">
					<p>Get Scared by Doggo</p>
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--small img--left" width="90" height="90">
					<p>Watch Human Clean Up</p>
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--small img--left" width="90" height="90">
					<p>Caticus Cuteicus</p>
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--small img--left" width="90" height="90">
					<p>Bring Owner a Dead Bird</p>
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--small img--left" width="90" height="90">
					<p>Chase Imaginary Bugs</p>
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--small img--left" width="90" height="90">
					<p>Chirp at Birds</p>
				</div>
				<div class="grid__cell-fourth">
					<div class="logo logo--gray">Meow</div>
				</div>
				<div class="grid__cell-fourth">
					<div class="logo logo--gray">Nyan</div>
				</div>
				<div class="grid__cell-fourth">
					<div class="logo logo--gray">Meow</div>
				</div>
				<div class="grid__cell-fourth">
					<div class="logo logo--gray">Nyan</div>
				</div>
				<div class="grid__cell-fourth">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--large" width="120" height="120">
				</div>
				<div class="grid__cell-fourth">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--large" width="120" height="120">
				</div>
				<div class="grid__cell-fourth">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--large" width="120" height="120">
				</div>
				<div class="grid__cell-fourth">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--large" width="120" height="120">
				</div>
			</div>
			<div class="grid__cell-half">
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--aspect" width="180" height="180">
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--aspect" width="180" height="180">
				</div>
				<div class="grid__cell-third">
					<img src="https://jonkantner.com/assets/img/blank.gif" class="img--aspect" width="180" height="180">
				</div>
				<div class="grid__cell-two-thirds">
					<p>Stay out all night then yowl like I am dying at 4am ask to be pet then attack owners hand.</p>
					<p>Let me in let me out let me in let me out let me in let me out who broke this door anyway.</p>
					<p>Thinking about tuna brine kitty poochy. Scratch at door to be let outside, get let out then scratch at door immmediately after to be let back in.</p>
				</div>
				<div class="grid__cell-third">
					<p>I love cuddles big roar feed me intrigued by the shower. Trip owner up in kitchen I want food hate dog. Ask to be pet then attack owners hand. Okay I am done copypasting litter from <a href="http://www.catipsum.com" rel="noopener noreferrer" target="_blank">Cat Ipsum</a>.</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="footer__block">
			<h3>Breeds</h3>
			<ul>
				<li>
					<a href="#">Singapura Mouser</a>
				</li>
				<li>
					<a href="#">Persian Jaguar</a>
				</li>
				<li>
					<a href="#">Lion</a>
				</li>
			</ul>
		</div>
		<div class="footer__block">
			<h3>Moar Breeds</h3>
			<ul>
				<li>
					<a href="#">British Shorthair</a>
				</li>
				<li>
					<a href="#">Himalayan</a>
				</li>
				<li>
					<a href="#">Mountain Lion</a>
				</li>
			</ul>
		</div>
		<div class="footer__block">
			<h3>Even Moar Breeds</h3>
			<ul>
				<li>
					<a href="#">Tabby</a>
				</li>
				<li>
					<a href="#">Tomcat</a>
				</li>
				<li>
					<a href="#">Sphynx</a>
				</li>
			</ul>
		</div>
		<div class="footer__block">
			<h3>Popular Kitties</h3>
			<ul>
				<li>
					<a href="#">Keyboard Cat</a>
				</li>
				<li>
					<a href="#">Nyan Cat</a>
				</li>
				<li>
					<a href="#">Grumpy Cat</a>
				</li>
			</ul>
		</div>
		<div class="footer__block">
			<h3>Learn Lolcat</h3>
			<ul>
				<li>
					<a href="#">Oh Hai</a>
				</li>
				<li>
					<a href="#">I Can Haz Cheezburgr?</a>
				</li>
				<li>
					<a href="#">Kthxbai</a>
				</li>
			</ul>
		</div>
	</footer>
</body>
